
    body {
        background: linear-gradient(-45deg, #b42ad3, #7c29ca, #ab33a3, #ed3ba9);
        background-size: 400% 400%;
        animation: gradient 5s ease infinite;
        height: 100vh;
        color: white;
        font-family: "Press Start 2P";
        margin: 0px;
        text-shadow: 0 0 5px rgb(255, 255, 255);
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
header {
    text-align: center;
    padding: 2rem 0;
    background-color: #f0e3ef;
    border-bottom: 1px solid #3463c9;
}
main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #8b828d;
    text-decoration: none;
}
